<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css"/>
    
    <!-- JS Bağlantıları -->
    <script>
        const SERVER_ID = "{{ server_id }}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/common.js" defer></script>
</head>
<body>

{% include "partials/header.html" %}

{% block content %}{% endblock %}

{% include "partials/footer.html" %}

</body>
</html>
