@use "sass:color";
@use "variables";

.status-running {
  color: variables.$status-running;
  font-weight: bold;
}

.status-stopped {
  color: variables.$status-stopped;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 1em;
  border: none;
  border-radius: variables.$radius-sm;
  cursor: pointer;
  background-color: variables.$text-accent;
  color: variables.$bg-main;
  transition: background-color 0.2s;

  &:hover {
    background-color: color.adjust(variables.$text-accent, $lightness: -10%)
    //darken(variables.$text-accent, 10%);
  }
}

.card.logs {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .log-box {
    background-color: variables.$bg-input;
    color: #00ff9c;

    padding: 10px;
    border-radius: variables.$radius-sm;

    min-height: 300px;
    max-height: 500px;

    overflow-y: auto;
    font-family: monospace;

    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
    box-sizing: border-box;

    border: 1px solid #222;
  }
}


.command {
  background-color: variables.$bg-section;
  border-radius: variables.$radius-md;
  padding: 20px;
  margin: 10px 0;
  width: 98%;
}

#cmdInput {
  width: 92%;
  padding: 10px;
  background-color: variables.$bg-input;
  border: 1px solid variables.$bg-header;
  color: variables.$text-main;
  border-radius: variables.$radius-sm;
}

#sendCmdBtn {
  padding: 10px 15px;
  margin-left: 10px;
}
